<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>admin1</title>
</head>
<body>
    <div>
        <h1>
            you are in admin page
        </h1>
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/home/Index">back to home index</a>
    </li>
</body>
</html>
